.bg-gris {
    background-color: #ECE8E8;
}
.bg-rojo {
    background-color: #ff0031;
}
.bg-celeste {
    background-color: #4ACDD1;
}
.text-gris {
    color: #54565A;
}
.text-rojo {
    color: #D41111;
}