html, body, div, span, applet, object, iframe, table, caption,
tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
}

:focus {
  outline: 0;
}

ol, ul, li {
  list-style: none;
}

/*table {
    border-collapse: separate;
    border-spacing: 0;
}*/
caption, th, td {
  font-weight: normal;
  text-align: left;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: none;
}

table {
  width: 100%;
}

.fa {
  line-height: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #54565A;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.125rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

header {
  position: relative;
}
header .carousel-cont {
  position: absolute;
  z-index: 1;
  overflow: hidden;
}
header .carousel-head .carousel-interna {
  position: relative;
}
header .carousel-head .carousel-interna:before {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 37.5%;
}
header .carousel-head .carousel-interna > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
header .carousel-head .carousel-interna {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header .carousel-head .carousel-item-1 {
  background-image: url(../image/sliderfibraoptica.png);
}
header .carousel-head .carousel-item-2 {
  background-image: url(../image/slider-02.jpg);
}
header .carousel-control-next, header .carousel-control-prev {
  width: 5%;
}
header .info-cont {
  position: absolute;
  top: 0;
  z-index: 1000;
}
header .form-container {
  position: absolute;
  z-index: 1000;
  bottom: -0.5rem;
}

html {
  font-size: 100%;
}

.circulo {
  border-radius: 100%;
  width: 2.125rem;
  height: 2.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-rojo-abajo {
  background-image: url("../image/rojo-abajo.jpg");
  background-position-y: 101%;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 10.125rem;
}

.bg-rojo-arriba {
  background-image: url("../image/rojo-arriba.jpg");
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg-gris-arriba {
  background-image: url("../image/gris-arriba.jpg");
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.logo {
  width: 6.9375rem;
}

.btn-danger {
  background-color: #ff0031;
}

.carousel-indicators {
  bottom: 0rem;
  z-index: 1002;
}

#botonenviar {
  z-index: 50000 !important;
}

.bg-gris {
  background-color: #ECE8E8;
}

.bg-rojo {
  background-color: #ff0031;
}

.bg-celeste {
  background-color: #4ACDD1;
}

.text-gris {
  color: #54565A;
}

.text-rojo {
  color: #D41111;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 95%;
  }

  .carousel-cont {
    position: relative !important;
  }

  .form-container {
    padding-top: 0 !important;
    position: relative !important;
    top: 0 !important;
    margin-top: -0.5rem;
    bottom: -1.25rem;
  }

  .bg-rojo-abajo {
    padding-bottom: 7.125rem;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 85%;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 75%;
  }
}
.colorWhats {
  background: #5dd069;
  color: white;
}

.tituloCards {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #2C2E30;
}

.parafoCards {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #54565A;
}

/*# sourceMappingURL=site.css.map */
